@tailwind base;
@tailwind components;
@tailwind utilities;


.pages {
  perspective: 3000px;
  
}

.paper-color {
  background-color: #ECE6DA;
}
.flip-page {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1.0s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0% 0%;
}

.flip-page.is-flipped {
  /* display: grid; */
  transition: transform 1.0s perspective(1000px) cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);
}

.front {
  /* transform: rotateY(0deg) translateZ(1px); */
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.back {
  /* transform: rotateY(180deg) translateZ(1px); */
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
